<% if flash[:errors] %>
	<div class="alert alert-danger" role="alert">
		<% flash[:errors].each do |flash| %>
			<p> <%= flash %> </p>
		<% end %>
	</div>
<% end %>

<%= form_with url: { action: "search" } do |form| %>
  <%= form.text_field :query_param %>
  <%= form.submit "Search" %>
<% end %>

<%= render partial: 'cellphone_list', locals: { cellphones: @cellphones } %>

<%= render partial: 'import_form' %>
