<%= flash[:notice] %>
<br>
<table>
    <thead>
      <tr>
        <th>Fabricante</th>
        <th>Modelo</th>
        <th>Cor</th>
        <th>Plano</th>
        <th>Quantidade</th>
        <th>Preço</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.fabricante %></td>
          <td><%= user.modelo %></td>
          <td><%= user.cor %></td>
          <td><%= user.plano %></td>
          <td><%= user.quantidade %></td>
          <td><%= user.preco %></td>
        </tr>
      <% end %>
    </tbody>
</table>
<br>
<div>
  <%= link_to 'Importar novo CSV', root_url %>
</div>
<br>

<%= form_tag(users_inventario_url, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search User" %>
  <br>
  <%= submit_tag "Search" %>
<% end %>